{% extends 'master.html' %}

{% block title %}
    Sports Club - Members
{% endblock %}

{% block content %}
        <div class="mycard">
            <h1>Members</h1>
            <ul>
                {% for member in membersList %}
                    <li>
                        <a href="details/{{member.id}}">
                            {{ member.fName }} {{ member.lName }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}