{% extends 'master.html' %}

{% block title %}
    Sports Club - Member Details
{% endblock %}
    
 {% block content %}
    <div class="mycard">
        <h1>{{ myMember.fName }} {{ myMember.lName }}</h1>

        <p>Mobile Number: {{ myMember.mobileNumber }}</p>
        <p>Member since: {{ myMember.joinedDate }}</p>
        <button class="btn btn-warning" type="submit" onclick="window.location='{% url 'members:update_member' myMember.id %}'">Update</button>
        <button class="btn btn-danger" type="submit" onclick="window.location='{% url 'members:delete_member' myMember.id %}'">Delete</button>
    </div>
 {% endblock content %}