{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a> |
            <a href="/members">Members</a> |
            {% comment %} <a href="members/create">Create Member</a> {% endcomment %}
            <a href="{% url 'members:create_member' %}">Create Member</a>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>