<!-- Create variable in templates-->
{% with welcomeText="Welcome" %}
    <h1>
        {{welcomeText}} {{firstName}} {{lastName}}, how are you?
    </h1>
{% endwith %}

{% with welcomeText=greeting %}
    {% if welcomeText == 1 %} 
        <p>
            Hello {{firstName}} {{lastName}}, how are you?
        </p>
    {% elif welcomeText == 2 %}
        <p>
            Welcome {{firstName}} {{lastName}}, how are you?
        </p>
    {% else %}
        <p>
            Thank you {{firstName}} {{lastName}}, see you again.
        </p>
    {% endif %}
{% endwith %}

{% if "French" in languagesKnown %}
    <p>
        He can speak in French.
    </p>
{% else %}
    <p>
        He cannot speak in French.
    </p>
{% endif %}

{% if "Punjabi" not in languagesKnown%}
    <p>
        He cannot speak in Punjabi.
    </p>
{% else %}
    <p>
        He can speak in Punjabi. 
    </p>
{% endif %}

{% if list_1 is list_2 %}
    <p>
        Both are same.
    </p>
{% else %}
    <p>
        Both are not same.
    </p>
{% endif %}

{% if list_1 is not list_2 %}
    <p>
        Both are same.
    </p>
{% else %}
    <p>
        Both are not same.
    </p>
{% endif %}


<p>
Languages Known:
    <ol>
    {% for language in languagesKnown %}
        <li>{{language}}</li>
    {% endfor %}
    </ol>
</p>
<p>
List 1 items:
    <ol>
    {% for item in list_1 %}
        <li>{{item}}</li>
    {% endfor %} 
    </ol> 
</p>
<p>
Available Cars:
    <ol>
    {% for car in cars %}
        <li><h1>{{car.brand}}</h1></li>
        <ul>
            <li><h2>{{car.model}}</h2></li>
            <li><h3>{{car.year}}</h3></li>
        </ul>
    {% endfor %}
    </ol>
</p>
<p>
Members:
    <ol>
    {% for Member in myMembers%}
        <li><h1>{{Member.fName}} {{Member.lName}}</h1></li>
    {% endfor %}
    </ol>
</p>