<!-- Create variable in templates-->
{% with welcomeText="Welcome" %}
    <h1>
        {{welcomeText}} {{firstName}} {{lastName}}, how are you?
    </h1>
{% endwith %}

{% with welcomeText=greeting %}
    {% if welcomeText == 1 %} 
        <p>
            Hello {{firstName}} {{lastName}}, how are you?
        </p>
    {% elif welcomeText == 2 %}
        <p>
            Welcome {{firstName}} {{lastName}}, how are you?
        </p>
    {% else %}
        <p>
            Thank you {{firstName}} {{lastName}}, see you again.
        </p>
    {% endif %}
{% endwith %}

{% if "French" in languagesKnown %}
    <p>
        He can speak in French.
    </p>
{% else %}
    <p>
        He cannot speak in French.
    </p>
{% endif %}

{% if "Punjabi" not in languagesKnown%}
    <p>
        He cannot speak in Punjabi.
    </p>
{% else %}
    <p>
        He can speak in Punjabi. 
    </p>
{% endif %}
    