<!-- Create variable in templates-->
{% with welcomeText="Welcome" %}
    <h1>
        {{welcomeText}} {{firstName}} {{lastName}}, how are you?
    </h1>
{% endwith %}

{% with welcomeText=greeting %}
    {% if welcomeText == 1 %} 
        <p>
            Hello {{firstName}} {{lastName}}, how are you?
        </p>
    {% elif welcomeText == 2 %}
        <p>
            Welcome {{firstName}} {{lastName}}, how are you?
        </p>
    {% else %}
        <p>
            Thank you {{firstName}} {{lastName}}, see you again.
        </p>
    {% endif %}
{% endwith %}

{% if "French" in languagesKnown %}
    <p>
        He can speak in French.
    </p>
{% else %}
    <p>
        He cannot speak in French.
    </p>
{% endif %}

{% if "Punjabi" not in languagesKnown%}
    <p>
        He cannot speak in Punjabi.
    </p>
{% else %}
    <p>
        He can speak in Punjabi. 
    </p>
{% endif %}

{% if list_1 is list_2 %}
    <p>
        Both are same.
    </p>
{% else %}
    <p>
        Both are not same.
    </p>
{% endif %}

{% if list_1 is not list_2 %}
    <p>
        Both are same.
    </p>
{% else %}
    <p>
        Both are not same.
    </p>
{% endif %}


<p>
Languages Known:
    <ol>
    {% for language in languagesKnown %}
        <li>{{language}}</li>
    {% endfor %}
    </ol>
</p>
<p>
List 1 items:
    <ol>
    {% for item in list_1 %}
        <li>{{item}}</li>
    {% endfor %} 
    </ol> 
</p>
<p>
Available Cars:
    <ol>
    {% for car in cars %}
        <li><h1>{{car.model}}</h1></li>
        <ul>
            <li><h2>{{car.brand}}</h2></li>
            <li><h3>{{car.year}}</h3></li>
        </ul>
    {% endfor %}
    </ol>
</p>

<p>
Members:
    <ol>
    {% for Member in myMembers%}
        <li><h1>{{Member.fName}} {{Member.lName}}</h1></li>
    {% endfor %}
    </ol>
</p>
<p>
Members(reversed):
    <ol>
    {% for Member in myMembers reversed %}
        <li><h1>{{Member.fName}} {{Member.lName}}</h1></li>
    {% endfor %}
    </ol>
</p>
<p>
Available Cars:
    <ol>
    {% for car in cars reversed%}
        <li><h1>{{car.model}}</h1></li>
        <ul>
            <li><h2>{{car.brand}}</h2></li>
            <li><h3>{{car.year}}</h3></li>
        </ul>
    {% endfor %}
    </ol>
</p>
<p>
Hobbies (Check it is empty or not):
    <ol>
    {% for hobby in hobbies %}
        <li><h1>{{hobby}}</h1></li>
    {% empty %}
        <li>N/A</li>
    {% endfor %}
    </ol>
</p>
<p>
Favourites (Check it is empty or not):
    <ol>
    {% for favourite in favourites %}
        <li><h1>{{favourite}}</h1></li>
    {% empty %}
        <li>N/A</li>
    {% endfor %}
    </ol>
</p>
<h1>Loop variables</h1>
<p>
<h3>forloop.counter:</h3>
The current iteration, starting at 1.
    <ul>
    {% for hobby in hobbies %}
        <li>Hobby {{forloop.counter}}: {{hobby}}</li>
    {% empty %}
        <li>N/A</li>
    {% endfor %}
    </ul>
</p>
<p>
<h3>forloop.counter0:</h3>
The current iteration, starting at 0.
    <ul>
    {% for hobby in hobbies %}
        <li>Hobby {{forloop.counter0}}: {{hobby}}</li>
    {% empty %}
        <li>N/A</li>
    {% endfor %}
    </ul>
</p>
<p>
<h3>forloop.revcounter:</h3>
The current iteration if you start at the end and count backwards, ending up at 1.
    <ul>
    {% for hobby in hobbies %}
        <li>Hobby {{forloop.revcounter}}: {{hobby}}</li>
    {% empty %}
        <li>N/A</li>
    {% endfor %}
    </ul>
</p>
<p>
<h3>forloop.revcounter0:</h3>
The current iteration if you start at the end and count backwards, ending up at 0.
    <ul>
    {% for hobby in hobbies %}
        <li>Hobby {{forloop.revcounter0}}: {{hobby}}</li>
    {% empty %}
        <li>N/A</li>
    {% endfor %}
    </ul>
</p>
<p>
<h3>forloop.first and forloop.last: </h3>
<b>forloop.first:</b> Allows you to test if the loop is on its first iteration.
<br>
<b>forloop.last:</b> Allows you to test if the loop is on its last iteration. 
    <ul>
    {% for hobby in hobbies %}
        <li {% if forloop.first %}
                style = "color:green"
            {% elif forloop.last %}
                style = "color:red"
            {% else %}
                style = "color:orange"
            {% endif %}
        >Hobby {{forloop.counter}}: {{hobby}}</li>
    {% endfor %}
    </ul>
</p>
{% include "footer.html" with developerName="Sriram Surya Bandaru" %}