<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homographs</title>
        <style>
            u
            {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>ENGLISH</h1>
        <p>Add '-ing' to the words given in the box and use them in the sentences given below:</p>
        <table border="1">
            <tr>
                <td>travel</td>
                <td>prepare</td>
                <td>cross</td>
                <td>work</td>
                <td>swim</td>
            </tr>
            <tr>
                <td>read</td>
                <td>meditate</td>
                <td>leave</td>
                <td>play</td>
                <td>manage</td>
            </tr>
        </table>
        <ol>
            <li>They are seriously <u>preparing</u> for their board exams.</li>
            <li>I love <u>travelling</u> by train.</li>
            <li>He is <u>reading</u> a detective novel.</li>
            <li>We should always look at left right and left while <u>crossing</u> the road.</li>
            <li>The manager was not happy about the <u>working</u> conditions in his office.</li>
            <li>He is good at <u>playing</u> cricket.</li>
            <li>The senior students are <u>managing</u> the task quite well.</li>
            <li>He starts <u>meditating</u> when he is under stress.</li>
            <li>The children are <u>swimming</u> in the pool.</li>
            <li>They are <u>leaving</u> for the picnic early in the morning.</li>
        </ol>
        <h1>What is Homographs?</h1>
        <p>Homographs are words which are pronounce the same but have different meanings. These words have a similar spelling.</p>
        <h3>Example: </h3>
        <ul>
            <li>Left</li>
            <ol>
                <li>His house is on <u>left</u> side of the street.</li>
                <li>He <u>left</u> for Mumbai last night.</li>
            </ol>
        </ul>
        <p>Use these Homograph words in sentences to convey 2 different meanings.</p>
        <ol type="A">
            <li>match</li>
            <ol>
                <li><u>Match</u> the following sets.</li>
                <li>The shirt and trousers <u>match</u> perfectly.</li>
            </ol>
            <li>fast</li>
            <ol>
                <li>Some people <u>fast</u> on Hindu festival days.</li>
                <li>I rode the bicycle very <u>fast</u> inside My Home Vihanga.</li>
            </ol>
            <li>bear</li>
            <ol>
                <li>I saw the <u>bear</u> in the zoo.</li>
                <li>The box was to heavy to <u>bear</u> the weight.</li>
            </ol>
            <li>bank</li>
            <ol>
                <li>I deposited money in my <u>bank</u> account.</li>
                <li>The Taj Mahal is situated are <u>bank</u> of river Yamuna in Agra.</li>
            </ol>
            <li>addition</li>
            <ol>
                <li><u>Addition</u> of two numbers is basic arithmethic operation.</li>
                <li>I have given tip to the waiter in <u>addition</u> to actual bill amount.</li>
            </ol>
        </ol>
    </body>
</html>